.card-layout {
  height: 90vh;
}

.card-table {
  height: 70% !important;
  flex-grow: 0; /* Prevent it from stretching */
  flex-shrink: 0; /* Prevent shrinking */
}

.card-table .v-data-table__wrapper {
  max-height: 100%; /* Ensure the table body fills the 50% height */
  overflow-y: auto; /* Enable vertical scrolling */
}
