.menu-scroll::-webkit-scrollbar {
  width: 6px;
}

.menu-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.logo-img {
  max-height: 120px !important;
  max-width: 120px !important;
  margin-top: -7px;
  margin-left: -2px;
}


.nav-drawer {
  background-color: #f9f9f9;
  color: #333333;
  width: 18vw;
  border-right: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 100vh !important;
  top: 0 !important;
  z-index: 1001 !important;
}
.nav-drawer .v-navigation-drawer__content {
  display: flex;
  flex-direction: column; // vertical layout
  outline: none;
  background-color: #ffffff; // white background
  border-radius: 16px; // rounded corners
  width: 100%;
}

.nav-drawer .menu-scroll {
  overflow-y: auto;
  flex: 1 1 auto;
}

.nav-drawer .v-list-item__content {
  transition:
  background 0.2s,
  color 0.2s;
  border-radius: 6px;
}
.nav-drawer .v-list-item:hover {
  background-color: rgba(25, 118, 210, 0.08);
  color: #1976d2;
  cursor: pointer;
}

.user-info .v-list-item__content {
  margin-top: 0.5rem;
  align-items: center;
  flex-direction: row;
  display: flex;
  padding: 0.5rem;
}

.v-list-item:focus {
  outline: none;
}

.user-avatar {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%; /* make it round */
  overflow: hidden;
  margin-right: 0.5rem;
}
